<body>

    <h2>Fruits Product</h2>
    
    <div class="row" >
        <div class="card" *ngFor="let fruit of fruits;index as i">
            <img src={{fruit.image}} alt="Avatar" style="height: 187px;">
            <div class="container">
              <span style="font-size: 15px;">
                <h4><b>{{fruit.brand}}</b></h4> 
                <h4>{{fruit.price}}</h4> 
              </span>
              <!-- <button mat-button color="accent">Add to Cart</button> -->
              <span  style="font-size: 15px;" *ngIf="!fruit.isAdded">
                <button class="cart" mat-raised-button  (click)="onSelectedProduct(fruit)">Add to Cart</button>
              </span>
              <span *ngIf="fruit.isAdded" style="border: 1px solid grey;">
                  <button mat-raised-button color="accent" (click)="onRemoveProduct(fruit,i)">-</button>
                  <p style="font-size: 12px;line-height: 30px;margin: 0px;">{{fruit.item}} item added</p>
                  <button mat-raised-button color="accent" (click)="onAddProduct(fruit)">+</button>
              </span>
            </div>
        </div>
    </div>
    
</body>
